

body {
  background-color: #f7f6f2;
  display: flex;
  justify-content: center; 
  align-items: center; 
}


a {
color: #f74c25;
text-decoration: none;
}

img {
width: 20px; 
height: auto; 
}


.top-text-container {
  position: fixed;
  font-family: "ITC Garamond W01 Book Narrow", Garamond, serif;
  font-weight: 800;
  font-size: 30px;
  color: #f74c25;
  top: 0; /* 화면 상단에 붙이기 */
  left: 50%; /* 왼쪽 여백을 무시하고 화면의 중앙을 기준으로 위치 */
  transform: translateX(-50%); /* 요소의 너비의 반만큼 왼쪽으로 이동하여 수평 가운데 정렬 */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}


.filter {
position: fixed;
top: 10%;
left: 50%;
transform: translate(-50%, 0);
text-align: center;
z-index: 2;
}

.filter a {
display: inline-block;
font-family: "elza", sans-serif;
font-size: 12px;
padding: 3px 10px;
margin: 0 10px;
background-color: rgba(1, 255, 18, 0); 
color: #f74c25;
text-decoration: none;
border-radius: 20px;
border: 2px solid #f74c25; 
}

.filter a.active-korea {
  background-color:#f74c25;
  color: black;
  cursor: pointer;
}

.filter a.active-newyork {
  background-color:#f74c25; 
  color: black;
  cursor: pointer;
}

.filter a.active-la {
  background-color: #f74c25;
  color: black;
  cursor: pointer;
}


.grid-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 5px;
grid-row-gap: 20px; 
grid-column-gap: 0px; 
justify-content: center;
align-items: center; 
margin-top: 200px;
cursor: pointer;
}
.grid-item {
position: relative;
text-align: center; 
cursor: pointer;
}

.grid-item img {
width: 70%; 
height: auto; 
transition: transform .3s ease, opacity 0.2s ease;
}

.grid-item:hover img {
transform: scale(1.2);
opacity: 1;
}


.caption {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-family: "elza", sans-serif;
font-size: 13px;
color: white;
padding: 10px;
border-radius: 10px;
opacity: 0; 
transition: opacity 0.3s ease-in-out;
background-color: rgba(0, 0, 0, 0.4);
}


.grid-item:hover .caption {
opacity: 1; 
}



@media screen and (max-width: 499px) {


    .filter {
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      z-index: 2;
      }
      
      .filter a {
      display: inline-block;
      font-family: "elza", sans-serif;
      font-size: 9px;
      padding: 3px 10px;
      margin: 0 10px;
      background-color: rgba(1, 255, 18, 0); 
      color: #f74c25;
      text-decoration: none;
      border-radius: 50px;
      border: 1px solid #f74c25; 
      }
      

      .top-text-container {
        position: fixed;
        font-family: "ITC Garamond W01 Book Narrow", Garamond, serif;
        font-weight: 800;
        font-size: 25px;
        color: #f74c25;
        top: 0; /* 화면 상단에 붙이기 */
        left: 50%; /* 왼쪽 여백을 무시하고 화면의 중앙을 기준으로 위치 */
        transform: translateX(-50%); /* 요소의 너비의 반만큼 왼쪽으로 이동하여 수평 가운데 정렬 */
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        z-index: 1;
      }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1px;
      grid-row-gap: 10px; 
      grid-column-gap: 0px; 
      justify-content: center;
      align-items: center; 
      margin-top: 130px;
    }
    .caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "elza", sans-serif;
      font-size: 8px;
      color: white;
      padding: 5px;
      opacity: 0; 
      transition: opacity 0.3s ease-in-out;
      line-height: 1;
    }

    img {
      width: 15px; 
      height: auto; 
    }

    .filter {
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      z-index: 2;
    }
    
    .filter a {
      display: inline-block;
      font-family: "elza", sans-serif;
      font-size: 9px;
      padding: 3px 5px;
      margin: 0 3px; 
      background-color: rgba(1, 255, 18, 0); 
      color: #f74c25;
      text-decoration: none;
      border-radius: 1px;
      border: 2px solid #f74c25; 
    }
    
}

