html{
    background-color: black;
    margin: 0;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

button {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    z-index: 30;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

.btn1 {
    position: absolute; /* Change to absolute positioning */
    top: 29vh;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    font-size: 3.5vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: .25em;
}

.btn1:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.btn2 {
    position: absolute; /* Change to absolute positioning */
    top: 50vh;
    left: 35%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    font-size: 22px;
    background-color: rgb(255, 0, 170);
    color: rgb(251, 255, 0);
    padding: .25em;
}

.btn2:hover {
    background-color: rgb(251, 255, 0);
    color: rgb(255, 0, 170);
}

.btn3 {
    position: absolute; /* Change to absolute positioning */
    top: 39vh; /* Adjust top position */
    right: 10vw; /* Adjust right position */
    font-size: 30px;
    background-color: rgb(255, 98, 0);
    color: rgb(255, 255, 255);
    padding: .25em;
}

.btn3:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 98, 0);
}


.flex-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.desktop-image,
.tablet-image,
.mobile-image{
    display: none;
}

.desktop-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}


.tablet-image{
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin: auto 0;
}
    

.mobile-image{
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin: auto 0;
}
        
    
    @media screen and (max-width: 499px) {
        .mobile-image {
            display: block;
        }
        .flex-container {
            flex-direction: column;
        }
        .btn1 {
            position: absolute; /* Change to absolute positioning */
            top: 29vh;
            left: 50%; /* Center horizontally */
            transform: translateX(-50%); /* Center horizontally */
            font-size: 6vw;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            padding: .25em;
        }
        .btn2 {
            position: absolute; /* Change to absolute positioning */
            top: 50vh;
            left: 35%; /* Center horizontally */
            transform: translateX(-50%); /* Center horizontally */
            font-size: 2.7vw;
            background-color: rgb(255, 0, 170);
            color: rgb(251, 255, 0);
            padding: .25em;
        }
        .btn3 {
            position: absolute; /* Change to absolute positioning */
            top: 38vh; /* Adjust top position */
            right: 10vw; /* Adjust right position */
            font-size: 4.2vw;
            background-color: rgb(255, 98, 0);
            color: rgb(255, 255, 255);
            padding: .25em;
        }
    
    }
    
    @media screen and (min-width: 500px) and (max-width: 949px) {
        .tablet-image {
            display: block;
        }
        .flex-container {
            flex-direction: column;
        }
        .btn1 {
            position: absolute; /* Change to absolute positioning */
            top: 29vh;
            left: 50%; /* Center horizontally */
            transform: translateX(-50%); /* Center horizontally */
            font-size: 6vw;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            padding: .25em;
        }
        .btn2 {
            position: absolute; /* Change to absolute positioning */
            top: 50vh;
            left: 35%; /* Center horizontally */
            transform: translateX(-50%); /* Center horizontally */
            font-size: 2.4vw;
            background-color: rgb(255, 0, 170);
            color: rgb(251, 255, 0);
            padding: .25em;
        }
        .btn3 {
            position: absolute; /* Change to absolute positioning */
            top: 41vh; /* Adjust top position */
            right: 10vw; /* Adjust right position */
            font-size: 3.2vw;
            background-color: rgb(255, 98, 0);
            color: rgb(255, 255, 255);
            padding: .25em;
        }
        
    }
    
    @media screen and (min-width: 950px) {
        .desktop-image {
            display: block;
        }
    }
    